# /conf/coraza.cfg
[coraza]
spoe-agent coraza-agent
  messages coraza-req
  option var-prefix coraza
  timeout hello      500ms
  timeout idle       60s
  timeout processing 1s
  use-backend coraza-spoa

spoe-message coraza-req
  event on-frontend-http-request
  args app=str(agt_waf) id=unique-id src-ip=src method=method path=path query=query version=req.ver headers=req.hdrs body=req.body
