# Stick-Table-Backends (müssen vor den Frontends stehen, die sie referenzieren).
# Alle Tabellen werden über Peers cluster-weit synchronisiert.

backend st_global_conn
   stick-table type string len 10 size 1 expire 5m store conn_cur peers agt_cluster

backend st_rl_api_get
   stick-table type ip size 100k expire 10s store http_req_rate(1s) peers agt_cluster

backend st_rl_api_sync
   stick-table type ip size 100k expire 10s store http_req_rate(1s) peers agt_cluster

backend st_rl_api_report
   stick-table type ip size 100k expire 10s store http_req_rate(1s) peers agt_cluster

backend st_rl_api_primaer
   stick-table type ip size 100k expire 10s store http_req_rate(1s) peers agt_cluster

backend st_rl_website
   stick-table type ip size 100k expire 10s store http_req_rate(1s) peers agt_cluster

backend st_rl_client
   stick-table type ip size 100k expire 10s store http_req_rate(1s) peers agt_cluster

backend st_waf_blocks
   stick-table type ip size 100k expire 1h peers agt_cluster store gpc0
